[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:jed-richards/nvim.git
[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "tools/wtree"]
	path = tools/wtree
	url = git@github.com:jed-richards/wtree.git
[submodule "claude/.claude/plugins/neoscribe"]
	path = claude/.claude/plugins/neoscribe
	url = git@github.com:jed-richards/neoscribe.git
